{% extends "../email.html" %}
{% set title = "KTO - Klanttevredenheidsonderzoek" %}
{% set header_text = "KTO - Klanttevredenheid" %}
{% set footer_text = "U ontvangt deze e-mail omdat u contact hebt gehad over een melding van discriminatie" %}
{% block content %}
  <div class="h1">
    Hoe tevreden ben je over onze ondersteuning?
  </div>
  <div class="body-lg">
    Je hebt recent contact gehad met ons naar aanleiding van jouw melding van discriminatie. Met een korte vragenlijst (± 2 minuten) help je ons om onze dienstverlening te verbeteren.
  </div>
  <table role="presentation" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td class="body-md notice">
        <span class="strong">Privacy:</span> we gebruiken je antwoorden alleen om onze service te verbeteren. Deelname is vrijwillig.
      </td>
    </tr>
  </table>
  <table role="presentation" cellpadding="0" cellspacing="0" class="btn-row">
    <tr>
      <td align="left">
        <a class="btn" href="https://google.com" target="_blank">
          Start de vragenlijst
        </a>
      </td>
    </tr>
  </table>
  <div class="body-sm">
    Werkt de knop niet? Kopieer deze link in je browser:
    <a href="https://google.com" target="_blank" class="link-underline">https://google.com</a>
  </div>
  <hr class="divider" />
  <div class="body-md lead-22">
    Alvast bedankt voor je tijd,<br/>
    <span class="strong">Discriminatie.nl</span>
  </div>
{% endblock %}
